@import "tailwindcss";

@theme {
  --color-brand-50: #fff0f5;
  --color-brand-100: #fce7f3;
  --color-brand-200: #fbcfe8;
  --color-brand-300: #f9a8d4;
  --color-brand-500: #ec4899;
  --color-brand-600: #be185d;
  --color-brand-900: #831843;
  
  --color-accent-gold: #fbbf24;
  --color-accent-gold-dark: #d97706;
  
  --radius-4xl: 2.5rem;
  
  --animate-blob: blob 7s infinite;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}